[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "==4.7.2"
appdirs = "==1.4.4"
pytest = "*"
jupyterlab = "*"
pennylane = "*"
black = {extras = ["jupyter"], version = "*"}
pennylane-ls = {editable = true, path = "."}
matplotlib = "*"
pandas = "*"
jupyter-book = "*"
ghp-import = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
